{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}

{% block css %}
.jumbotron{
  margin-top : 5%;
  margin-left : 5%;
  margin-right : 5%;
}
{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">MyKart</h1>
      <p>MYKART is a one-stop supermarket that aims to offer customers a wide range of basic home and personal products under one roof. MYKART store stocks home utility products - including food, toiletries, beauty products, garments, kitchenware, bed and bath linen, home appliances and more - available at competitive prices that customers appreciate.
The core objective of MYKART is to offer customers good products at a great value. MYKART identifies and makes available new products and categories that suit the everyday needs of the Indian family.
Location: Krishna stores, Shop no 201, opposite Om furniture’s, vashinaka, R.C Marg Chembur Mumbai 400074
</p>
      <p><a class="btn btn-dark btn-lg" href="/shop" role="button">Explore More»</a></p>
    </div>
  </div>

  
  
  
  <!-- /container -->

</main>





{% endblock %}
